:root {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #dfeaf6;
  --first-color: #d9ecff;
  --second-color: #16c2d5;
  --third-color: #10217d;
  --fourth-color: #527c88;
  --fith-color: #d7baad;
  --six-color: #546f7e;
}

.body {
  margin: -8px
}

/* boton de busqueda en home */
.button::before,
.button::after {
  position: absolute;
  content: '';
  transition: all 0.5s;
}

.button {
  display: inline-block;
  padding: 20px 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  text-decoration: none;
  font-size: 4vw;
  transition: all 0.5s;
  background-color: #3498db;
}

.button::before {
  bottom: -15px;
  height: 15px;
  width: 100%;
  left: 8px;
  transform: skewX(45deg);
  background-color: #196090;
}

.button::after {
  right: -15px;
  height: 100%;
  width: 15px;
  bottom: -8px;
  transform: skewY(45deg);
  background-color: #124364;
}

.button:hover {
  transition: all 0.5s ease-in-out;
  margin-left: 5px;
  margin-top: 5px; 
}

.button:hover::before {
  bottom: -5px;
  height: 5px;
  left: 3px;
}

.button:hover::after {
  right: -5px;
  width: 5px;
  bottom: -3px;
}