:root {
  background-color: #d9ecff;
  --first-color: #d9ecff;
  --second-color: #16c2d5;
  --third-color: #10217d;
  --fourth-color: #527c88;
  --fith-color: #d7baad;
  --six-color: #2e4450;
}

.body {
  margin: -8px
}

